<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>231834451616-1ueklk505ob9jg9qviqa8ovtai55igta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231834451616-1ueklk505ob9jg9qviqa8ovtai55igta</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Cz8DzpCbL5d14brTdk28UVzussobo0c</string>
	<key>GCM_SENDER_ID</key>
	<string>231834451616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smart.SmartAmbulance</string>
	<key>PROJECT_ID</key>
	<string>smart-ambulance-88518</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-ambulance-88518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231834451616:ios:c578d8d753deb8bf</string>
	<key>DATABASE_URL</key>
	<string>https://smart-ambulance-88518.firebaseio.com</string>
</dict>
</plist>